#services img{
    height: 150px;   
}

#destination img{
    height: 150px;   
}

.nav-item{
    padding-right: 30px;
    text-align: center;
}

.navbar-brand img{
    margin-left: 20px;
}

@media (min-width: 992px){
    .custom-padding{
        padding-left: 60px;
        padding-right: 60px;
    }
}

#about-2{
    margin-bottom:100px;
}

#about-1{
    text-align:left;
    margin-left: 0px;
}


.font-arial {
    font-family: arial; /* Mengatur font ke Arial */
}

.font-semi-bold {
    font-weight: 600; /* Semi-bold font weight */
}

/* size jarak untuk perangkat mobile*/
@media (min-width: 768px) {
    .text-content {
        font-size: 1.25rem; /* Ukuran font yang lebih besar di perangkat desktop */
    }

    .lead {
        margin-bottom: 1.5rem; /* Menambahkan jarak bawah untuk paragraf lead di desktop */
    }
    
    .text-primary {
        color: #007bff; /* Menambahkan warna primer pada teks */
    }
}

#about{
    margin-bottom:5px;
}

/* Ukuran teks navbar untuk perangkat besar */
.navbar-nav .nav-link {
    font-size: 1.25rem; /* Ukuran teks default */
}

/* Ukuran teks navbar untuk perangkat kecil (mobile) */
@media (max-width: 767px) {
    .navbar-nav .nav-link {
        font-size: 1.15rem; /* Ukuran teks lebih kecil untuk perangkat mobile */
    }
}

/* CSS tambahan */
/* Mengubah warna teks link navbar saat hover */
.navbar-nav .nav-link:hover {
    color: #007bff; /* Warna biru untuk teks */
}

/* Opsional: Jika Anda ingin menambahkan efek transisi */
.navbar-nav .nav-link {
    transition: color 0.3s ease; /* Transisi warna selama 0.3 detik */
}

/* CSS tambahan */
.text-justify-center {
    display: flex;
    justify-content: center;
    
}

.text-justify-center p {
    text-align: justify;
    max-width: 600px;
    width: 100%;
}

/* Untuk memastikan text di Fasilitas di sebelah kiri */
@media (min-width: 992px) {
    .text-lg-start {
        text-align: left;
    }
    .col-lg-6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.scroll-to-top {
    position: fixed; /* Fixed position for scrolling */
    bottom: 2rem; /* Distance from the bottom */
    right: 2.5rem; /* Distance from the right */
    color: #007bff; /* Blue color */
    font-size: 2rem; /* Larger font size */
    
    
    padding: 1rem; /* Padding around the icon */
   
    text-align: center; /* Centering the icon */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensures the button is above other content */
}




