/* Navbar Css Start*/
.navbar-nav .nav-link {
    font-size: 1.15rem; /* Ukuran teks default */
}

.nav-item{
    padding-right: 20px;
    text-align: center;
}

.navbar-brand img{
    margin-left: 20px;
}

@media (min-width: 992px){
    .custom-padding{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* Mengubah warna teks link navbar saat hover */
.navbar-nav .nav-link:hover {
    color: #007bff; /* Warna biru untuk teks */
}


.navbar-nav .nav-link {
    transition: color 0.3s ease; /* Transisi warna selama 0.3 detik */
}

/* Ukuran teks navbar untuk perangkat kecil (mobile) */
@media (max-width: 767px) {
    .navbar-nav .nav-link {
        font-size: 1.15rem; /* Ukuran teks lebih kecil untuk perangkat mobile */
    }
}
/* Navbar Css end*/

/* About CSS Start*/
#about{
    margin-bottom:5px;
}

#about-2{
    margin-bottom:100px;
}

#about-1{
    text-align: left;
    margin-left: 0px;
    
}

.text-check-services {
    display: inline;
    font-size: 1.25rem;
    word-wrap: break-word;
}
/* About CSS End*/

/* Services CSS Start*/
#services img{
    height: 150px;   
}
/* Services CSS End*/

/* Fasilitas CSS Start */
/* Untuk memastikan text di Fasilitas di sebelah kiri */
@media (min-width: 992px) {
    .text-lg-start {
        text-align: left;
    }
    .col-lg-6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Fasilitas CSS End */

/* Rute CSS Start*/
#rute img{
    height: 150px;   
}
/* Rute CSS End*/

/* Armada CSS Start */
.card-video {
    border-radius: 8px; 
}

.card-video-bordered {
    border-radius: 15px; 
}
/* Armada CSS End */

/* CSS tambahan Start */
.font-arial {
    font-family: arial; /* Mengatur font ke Arial */
}

.font-semi-bold {
    font-weight: 600; /* Semi-bold font weight */
}

/* size jarak untuk perangkat mobile*/
@media (min-width: 768px) {
    .text-content {
        font-size: 1.25rem; /* Ukuran font yang lebih besar di perangkat desktop */
    }

    .lead {
        margin-bottom: 1.5rem; /* Menambahkan jarak bawah untuk paragraf lead di desktop */
    }
    
    .text-primary {
        color: #007bff; /* Menambahkan warna primer pada teks */
    }
}


@media (max-width: 576px) {
    .text-check-services {
        font-size: 0.9rem;
    }
}


.text-justify-center {
    display: flex;
    justify-content: center;
    
}

.text-justify-center p {
    text-align: justify;
    max-width: 600px;
    width: 100%;
}

/* Scrool to top button */
.scroll-to-top {
    position: fixed; 
    bottom: 1rem; 
    right: 1.0rem; 
    color: #007bff; 
    font-size: 2rem; 
    padding: 1rem; 
    text-align: center; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    z-index: 1000; 
}

/* CSS tambahan End*/

